<section id="hero" class="px-6 pt-16 max-w-7xl mx-auto">
  <!-- Content -->
  <div class="flex flex-col gap-6">
    <span
      class="text-primary bg-surface font-headline self-start px-3 py-1 text-xs font-bold uppercase"
      >Currently_working_on: <a href="" class="ml-4">Voron</a></span
    >
    <h1 class="font-headline text-4xl font-bold wrap-break-word">
      Digitální <span
        class="bg-primary to-primary bg-linear-to-r from-(--primary-200) bg-clip-text text-transparent"
        >dílna</span
      > projektů, které vznikají v reálném čase.
    </h1>
    <p class="text-lg">
      Stavím věci, které se učím za pochodu — weby, automatizace, 3D tisk a
      občas i věci, které se rozbijí dřív, než fungují.
    </p>
  </div>

  <!-- CTA -->
  <div class="">
    <button
      class="to-primary font-headline text-bg my-6 rounded-xs bg-linear-to-r from-(--primary-200) px-8 py-4 text-sm font-bold uppercase"
      >Prozkoumat_projekty</button
    >
    <button
      class="font-headline border-border rounded-xs border-2 px-8 py-4 text-sm font-bold uppercase"
      >Poslední_update</button
    >
  </div>
</section>
