---
// Component import
import Nav from "../components/common/Nav.astro"

// Style import
import "../styles/global.css"

const { title = "Benzzo", description = "Blog o programování a bastlení" } =
  Astro.props
---

<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.svg" />

    <!-- (později) fonty, OG tags, SEO -->
  </head>

  <body>
    <header>
      <!-- Navbar -->
      <Nav />
    </header>

    <!-- Main content -->
    <main>
      <slot />
    </main>

    <!-- Footer -->
    <footer>
      <p>© {new Date().getFullYear()} Benzzo</p>
    </footer>
  </body>
</html>
